# REPOSITORY SECRETS
AWS_ACCOUNT_ID=
CERT_ARN=
VPC_ID=
SUBNET_IDS=
DB_SECURITY_GROUP_ID=
WAF_WEB_ACL_ARN=

# REPOSITORY VARIABLES
AWS_REGION=
HOSTED_ZONE=

# ENVIRONMENT SECRETS
DATABASE_URL_CLOUD=
DATABASE_URL_LOCAL=

# ENVIRONMENT VARIABLES
APP_DOMAIN=
